bin/.DS_Store
bin/Debug/net5.0/appsettings.Development.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/LinuxVmApi.deps.json
bin/Debug/net5.0/LinuxVmApi.dll
bin/Debug/net5.0/LinuxVmApi.pdb
bin/Debug/net5.0/LinuxVmApi.runtimeconfig.dev.json
bin/Debug/net5.0/LinuxVmApi.runtimeconfig.json
bin/Debug/net5.0/ref/LinuxVmApi.dll
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/LinuxVmApi.deps.json
bin/Debug/netcoreapp3.1/LinuxVmApi.dll
bin/Debug/netcoreapp3.1/LinuxVmApi.pdb
bin/Debug/netcoreapp3.1/LinuxVmApi.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/LinuxVmApi.runtimeconfig.json
bin/Debug/netcoreapp5.0/appsettings.Development.json
bin/Debug/netcoreapp5.0/appsettings.json
bin/Debug/netcoreapp5.0/LinuxVmApi.deps.json
bin/Debug/netcoreapp5.0/LinuxVmApi.dll
bin/Debug/netcoreapp5.0/LinuxVmApi.pdb
bin/Debug/netcoreapp5.0/LinuxVmApi.runtimeconfig.dev.json
bin/Debug/netcoreapp5.0/LinuxVmApi.runtimeconfig.json
bin/Debug/netcoreapp5.0/ref/LinuxVmApi.dll
bin/Release/.DS_Store
bin/Release/net5.0/.DS_Store
bin/Release/net5.0/appsettings.Development.json
bin/Release/net5.0/appsettings.json
bin/Release/net5.0/LinuxVmApi.deps.json
bin/Release/net5.0/LinuxVmApi.dll
bin/Release/net5.0/LinuxVmApi.pdb
bin/Release/net5.0/LinuxVmApi.runtimeconfig.dev.json
bin/Release/net5.0/LinuxVmApi.runtimeconfig.json
bin/Release/net5.0/publish/appsettings.Development.json
bin/Release/net5.0/publish/appsettings.json
bin/Release/net5.0/publish/Dockerfile
bin/Release/net5.0/publish/LinuxVmApi.deps.json
bin/Release/net5.0/publish/LinuxVmApi.dll
bin/Release/net5.0/publish/LinuxVmApi.pdb
bin/Release/net5.0/publish/LinuxVmApi.runtimeconfig.json
bin/Release/net5.0/publish/web.config
bin/Release/net5.0/ref/LinuxVmApi.dll
obj/.DS_Store
obj/LinuxVmApi.csproj.nuget.dgspec.json
obj/LinuxVmApi.csproj.nuget.g.props
obj/LinuxVmApi.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/LinuxVmApi.AssemblyInfo.cs
obj/Debug/net5.0/LinuxVmApi.AssemblyInfoInputs.cache
obj/Debug/net5.0/LinuxVmApi.assets.cache
obj/Debug/net5.0/LinuxVmApi.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/LinuxVmApi.csproj.FileListAbsolute.txt
obj/Debug/net5.0/LinuxVmApi.csprojAssemblyReference.cache
obj/Debug/net5.0/LinuxVmApi.dll
obj/Debug/net5.0/LinuxVmApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/LinuxVmApi.genruntimeconfig.cache
obj/Debug/net5.0/LinuxVmApi.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/LinuxVmApi.pdb
obj/Debug/net5.0/LinuxVmApi.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/ref/LinuxVmApi.dll
obj/Debug/net5.0/staticwebassets/LinuxVmApi.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/LinuxVmApi.StaticWebAssets.xml
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/LinuxVmApi.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/LinuxVmApi.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/LinuxVmApi.assets.cache
obj/Debug/netcoreapp3.1/LinuxVmApi.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/LinuxVmApi.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/LinuxVmApi.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/LinuxVmApi.dll
obj/Debug/netcoreapp3.1/LinuxVmApi.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/LinuxVmApi.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/LinuxVmApi.pdb
obj/Debug/netcoreapp3.1/LinuxVmApi.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/staticwebassets/LinuxVmApi.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/LinuxVmApi.StaticWebAssets.xml
obj/Debug/netcoreapp5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/netcoreapp5.0/LinuxVmApi.AssemblyInfo.cs
obj/Debug/netcoreapp5.0/LinuxVmApi.AssemblyInfoInputs.cache
obj/Debug/netcoreapp5.0/LinuxVmApi.assets.cache
obj/Debug/netcoreapp5.0/LinuxVmApi.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp5.0/LinuxVmApi.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp5.0/LinuxVmApi.csprojAssemblyReference.cache
obj/Debug/netcoreapp5.0/LinuxVmApi.dll
obj/Debug/netcoreapp5.0/LinuxVmApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp5.0/LinuxVmApi.genruntimeconfig.cache
obj/Debug/netcoreapp5.0/LinuxVmApi.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp5.0/LinuxVmApi.pdb
obj/Debug/netcoreapp5.0/LinuxVmApi.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp5.0/project.razor.json
obj/Debug/netcoreapp5.0/ref/LinuxVmApi.dll
obj/Debug/netcoreapp5.0/staticwebassets/LinuxVmApi.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp5.0/staticwebassets/LinuxVmApi.StaticWebAssets.xml
obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/net5.0/LinuxVmApi.AssemblyInfo.cs
obj/Release/net5.0/LinuxVmApi.AssemblyInfoInputs.cache
obj/Release/net5.0/LinuxVmApi.assets.cache
obj/Release/net5.0/LinuxVmApi.csproj.CoreCompileInputs.cache
obj/Release/net5.0/LinuxVmApi.csproj.FileListAbsolute.txt
obj/Release/net5.0/LinuxVmApi.csprojAssemblyReference.cache
obj/Release/net5.0/LinuxVmApi.dll
obj/Release/net5.0/LinuxVmApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net5.0/LinuxVmApi.genruntimeconfig.cache
obj/Release/net5.0/LinuxVmApi.MvcApplicationPartsAssemblyInfo.cache
obj/Release/net5.0/LinuxVmApi.pdb
obj/Release/net5.0/LinuxVmApi.RazorTargetAssemblyInfo.cache
obj/Release/net5.0/PublishOutputs.0da0c0b7fb.txt
obj/Release/net5.0/ref/LinuxVmApi.dll
obj/Release/net5.0/staticwebassets/LinuxVmApi.StaticWebAssets.Manifest.cache
obj/Release/net5.0/staticwebassets/LinuxVmApi.StaticWebAssets.xml
obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Release/netcoreapp3.1/LinuxVmApi.AssemblyInfo.cs
obj/Release/netcoreapp3.1/LinuxVmApi.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/LinuxVmApi.assets.cache
obj/Release/netcoreapp3.1/LinuxVmApi.csproj.CoreCompileInputs.cache
obj/Release/netcoreapp3.1/LinuxVmApi.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.1/LinuxVmApi.csprojAssemblyReference.cache
obj/Release/netcoreapp3.1/LinuxVmApi.dll
obj/Release/netcoreapp3.1/LinuxVmApi.genruntimeconfig.cache
obj/Release/netcoreapp3.1/LinuxVmApi.MvcApplicationPartsAssemblyInfo.cache
obj/Release/netcoreapp3.1/LinuxVmApi.pdb
obj/Release/netcoreapp3.1/LinuxVmApi.RazorTargetAssemblyInfo.cache
obj/Release/netcoreapp3.1/staticwebassets/LinuxVmApi.StaticWebAssets.Manifest.cache
obj/Release/netcoreapp3.1/staticwebassets/LinuxVmApi.StaticWebAssets.xml
.vscode/launch.json
.vscode/tasks.json
